html,
body {
    height: 100%;
}

body {
    font-family: 'Oswald, sans-serif';
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    color: #fff;
    font-size: 64px;
    text-transform: uppercase;
    max-width: 849px;
    margin: 0 auto;
    line-height: 1.5;
}

h1+p {
    color: #fff;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 106px;
}

.wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper-gray {
    background-color: #f7f7f7;
}

.bg {
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 60vh;
    position: relative;
    z-index: -1;
}

.title {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
}

.start {
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 780px;
    margin: -150px auto 0;
    padding-top: 70px;
    padding-bottom: 35px;
}

.start-item h2 {
    font-size: 72px;
    color: #f7654a;
    margin-top: 0;
    margin-bottom: 22px;
}

.start-item h3 {
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 11px;
}

.start-item p {
    color: #999999;
    margin-top: 0;
}

.box-party {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 56px;
    margin-bottom: 85px;
}

.box-party>div {
    flex-basis: 31.5%;
    max-width: 31.5%;
}

.box-party img {
    width: 100%;
}

.box-party h3 {
    position: relative;
    padding-top: 28px;
    margin-top: 43px;
    letter-spacing: 1.4px;
}

.box-party h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 6px;
    background-color: #f7654a;
}

.contact {
    background-color: #f7654a;
    color: #fff;
    padding: 40px 0 40px;
}

.box-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-contact h3 {
    font-size: 48px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 20px;
}

.box-contact p {
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
}

.box-contact button {
    background-color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #000;
}

.grid {
    text-align: center;
    display: grid;
    grid-template-areas: "a b c" "d e f";
    grid-gap: 28px;
    margin-top: 59px;
    margin-bottom: 147px;
}

.grid-item {
    background-color: #f7f7f7;
    padding: 56px 30px 36px;
}

.grid-item h3 {
    line-height: 1.5;
    margin-top: 14px;
}

.grid-one {
    grid-area: a;
}

.grid-two {
    grid-area: b;
}

.grid-three {
    grid-area: c;
}

.grid-four {
    grid-area: d;
}

.grid-five {
    grid-area: e;
}

.grid-six {
    grid-area: f;
}

.grid-photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-photo-item {
    height: 100%;
    position: relative;
}

.grid-photo-item::before {
    content: '';
    background-color: rgba(64, 65, 73, 0.5);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.grid-photo-item:hover::before {
    background-color: rgba(64, 65, 73, 0);
}

.grid-photo-item img {
    width: 100%;
    height: 100%;
}

.box-feedback {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 55px;
    margin-bottom: 123px;
}

.box-feedback>div {
    box-sizing: content-box;
    flex-basis: 31.5%;
    max-width: 31.5%;
}

.feedback {
    background-color: #f7f7f7;
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    padding: 31px 30px;
    margin-bottom: 31px;
}

.feedback::before {
    content: '';
    background-image: url(../img/bq.svg);
    width: 34px;
    height: 28px;
    display: block;
    background-repeat: no-repeat;
    margin-bottom: 21px;
}

.name {
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    margin-top: 61px;
}

.footer-contact>div {
    flex-basis: 24%;
    max-width: 24%;
}

.footer-contact h3 {
    color: #999999;
    font-size: 24px;
}

.footer-contact-info {
    list-style: none;
    padding-left: 0;
    font-size: 24px;
    color: #000;
}

.footer-contact-info>li {
    margin-bottom: 12px;
}

.footer-contact-mail {
    color: #f7654a;
}

.footer {
    background: #404149;
    padding: 30px 0 28px;
}

.box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
}

.box-footer a {
    color: #f7654a;
    text-decoration: none;
}

@media (max-width: 920px) {
    body {
        font-size: 16px;
    }
    .wrapper {
        max-width: 600px;
    }
    h1 {
        font-size: 45px;
        max-width: 600px;
    }
    h2 {
        font-size: 25px;
        margin-top: 74px;
    }
    .title {
        top: calc(50% - 67px - 75px);
    }
    .start {
        max-width: 500px;
        margin: -106 auto 0;
    }
    .start-item h2 {
        font-size: 50px;
        margin-bottom: 14px;
    }
    .start-item h3 {
        font-size: 20px;
    }
    .box-party h3 {
        margin-top: 27px;
    }
    .box-contact h3 {
        font-size: 30px;
    }
    .box-contact p {
        font-size: 16px;
    }
    .grid {
        grid-gap: 13px;
        margin-top: 59px;
        margin-bottom: 91px;
    }
    .box-feedback {
        margin-top: 30px;
        margin-bottom: 65px;
        flex-wrap: wrap;
    }
    .box-feedback>div {
        flex-basis: 100%;
        max-width: 100%;
    }
    .feedback {
        margin-bottom: 20px;
    }
    .footer-contact {
        align-items: flex-start;
        margin-top: 61px;
        flex-wrap: wrap;
    }
    .footer-contact>div {
        flex-basis: 49%;
        max-width: 49%;
        margin-bottom: 20px;
    }
    .footer-contact h3,
    .footer-contact-info {
        font-size: 20px;
    }
    .footer-contact-info>li {
        margin-bottom: 5px;
    }
    .footer {
        margin-top: 32px;
    }
}

@media (max-width: 640px) {
    body {
        font-size: 14px;
    }
    .bg {
        height: initial;
        position: inherit;
        padding: 50px 0;
    }
    .title {
        position: inherit;
        top: inherit;
        left: inherit;
        right: inherit;
    }
    h1 {
        font-size: 30px;
        max-width: 400px;
    }
    h2 {
        margin-top: 60px;
    }
    .wrapper-gray {
        background-color: transparent;
    }
    .stat {
        margin-top: 30px;
        background-color: #f7f7f7;
    }
    .stat,
    .box-party,
    .box-footer {
        flex-wrap: wrap;
    }
    .start-item {
        flex-basis: 49%;
        max-width: 49%;
    }
    .start-item h2 {
        font-size: 40px;
    }
    .box-party {
        margin-bottom: 46px;
    }
    .box-party>div {
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;
    }
    .box-party img {
        width: 100%;
        max-width: 200px;
    }
    .box-party h3 {
        margin-top: 13px;
        padding-top: 18px;
        margin-bottom: 30px;
    }
    .box-party h3::before {
        right: 0;
        margin: 0 auto;
    }
    .grid {
        grid-template-areas: "a b" "c d" "e f";
    }
    .grid-photo {
        grid-template-columns: 1fr 1fr;
    }
    .contact {
        padding: 30px 0;
    }
    .box-contact h3 {
        font-size: 25px;
        margin-bottom: 13px;
    }
    .box-contact p,
    .footer-contact h3,
    .footer-contact-info {
        font-size: 14px;
    }
    .footer-contact img {
        max-width: 32px;
        width: 100%;
    }
    .box-footer {
        text-align: center;
        line-height: 1.5;
    }
    .box-footer>div {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .box-contact {
        flex-direction: column;
        text-align: center;
    }
    .box-contact p {
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .grid {
        grid-template-areas: "a" "b" "c" "d" "e" "f";
    }
    .box-footer {
        font-size: 14px;
    }
}